.yandex-main
{
    display: grid;
    
    grid-template-columns: minmax(110px, 1fr) 270px 270px 
        270px 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-areas: '🎵 ☠️ ☠️ 🛀 💌'
        '🍌 💎 💎 💎 ⚠️'
        '⛔ 🐖 🐖 🐖 ⚠️'
        '⛔ 🏆 🎯 ⚾ ⚠️'
        '⛔ 🏆 🎯 🏅 ⚠️'
        '⛔ 🌼 ⛳ ⚽ ⚠️'
        '⛔ 🌼 ⛳ 🐟 ⚠️';
    
    font: 13px Arial, Helvetica, sans-serif;
}

a
{
    text-decoration: none;
    color: #000;
}

a:hover
{
    color: #c00;
}

/*  Блок с заголовком (Слово Яндекс)  */

.page-header
{
    grid-area: 🍌;
}

.yandex-logo-wrapper
{
    width: 100%;
    max-height: 100px;
    text-align: right;
}

.yandex-logo
{
    padding-top: 7px;
}

/*  Блок с названием города  */

.current-city-name
{
    grid-area: 🎵;
}

.current-city-name-link
{
    color: #808080;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

.current-city-name-link::before
{
    display: inline-block;
    content: '\27A4';
    transform: rotate(-45deg);
}

/*  Блок "Cейчас в СМИ"  */

.smi-news
{
    margin-top: 50px;
    grid-area: ☠️;
}

.smi-news-header
{
    font-size: 21px;
    font-weight: normal;
    display: inline-block;
    margin: 0;
}

.smi-news-header-link
{
    color: #0054b9;
}

.smi-news-city
{
    font-size: 21px;
    opacity: .65;
    margin-left: 7px;
}

.smi-news-city:hover
{
    opacity: 1;
}

.smi-news-city-link
{
    color: #0054b9;
}

.now-date
{
    margin-left: 7px;
    color: #808080;
}

.smi-news-list
{
    margin: 5px 0;
    padding: 0;

}

.smi-news-list-item
{
    margin: 10px 0;
}

.exchange-rate
{
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 15px;
}

.exchange-rates
{
    text-align: left;
}

.currency-name
{
    font-size: 13px;
    display: inline-block;
    margin: 0;
}

.change-in-rate
{
    color: #808080;
}

.more-exchange-info
{
    display: inline-block;
}

.more-exchange-info-link
{
    color: #808080;
}

/*  Блок с рекламой яндекс браузера  */

.yandex-browser-advert
{
    margin-top: 70px;
    grid-area: 🛀;
}

.yandex-browser-link
{
    color: #0054b9;
}

.age-limit
{
    margin-left: 200px;
}

.yandex-browser-advert-header
{
    font-weight: normal;
    margin: 5px 2px;
}

.yandex-browser-advert-info
{
    margin: 5px 2px;
}

/*  Блок с поиском  */

.search-section
{
    margin-top: 20px;
    grid-area: 💎;
    grid-auto-rows: auto;
}

.site-navigation
{
    margin-bottom: 5px;
}

.site-navigation-link
{
    font-size: 17px;
    color: #0054b9;
    margin-right: 15px;
}

.search-wrapper
{
    position: relative;
}

.search-input
{
    display: inline-block;
    width: 900px;
    height: 35px;
    border: 2px solid #ffdb4d;
    padding-left: 10px;
    outline: none;
}

.search-button
{
    position: absolute;
    top: 0;
    right: -80px;
    width: 60px;
    height: 35px;
    text-align: right;
    border: 2px solid #ffdb4d;
    background: #ffdb4d;
    cursor: pointer;
    outline: none;
}

.search-button-triangle
{
    position: absolute;
    top: 0;
    right: -113px;
    width: 35px;
    height: 35px;
    background-image: url('images/search-triangle.svg');
    background-size: cover;
}

.search-example
{
    margin: 0;
    margin-top: 8px;
    height: 20px;
}

.search-example-link
{
    color: #808080;
}

/* Реклама автомобиля */

.rosneft-advert
{
    grid-area: 🐖;
}

.rosneft-advert img
{
    width: 100%;
}

/* Блок "Посещаемое" */

.most-visited
{
    grid-area: 🏆;
}

.most-visited-header
{
    font-weight: normal;
    margin: 0;
}

.most-visited-header-link
{
    color: #0054b9;
}

.most-visited-item
{
    margin: 10px 0;
}

.most-visited-item-header
{
    display: inline-block;
    margin: 0;
}

.most-visited-item-header::after
{
    font-weight: normal;
    content: '\00A0\2014';
}

/* Блок "Телепрограмма" */

.tv-program
{
    grid-area: 🎯;
    position: relative;
}

.tv-program-header
{
    width: 142px;
    font-weight: normal;
    margin: 0;
}

.tv-program-header-link
{
    color: #0054b9;
}

.tv-online
{
    margin-left: 10px;
    background: linear-gradient(to right, #00a1fa, #6c70f8);
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    right: 25px;
    top: 0;
}

.tv-online-triangle
{
    width: 8px;
    margin-left: 5px;
}

.tv-online:hover
{
    color: #fff;
    transform: scale(1.1);
    right: 22px;
    transition: .2s;
}

.tv-online:hover .tv-online-triangle
{
    width: 12px;
    transition: .2s;
}

.tv-program-item
{
    margin: 10px 0;
}

.tv-program-name,
.tv-program-chanel
{
    margin-left: 5px;
}

.tv-program-chanel-link
{
    color: #808080;
}

/*  Блок "Погода"  */

.weather
{
    grid-area: ⚾;
}

.weather-header-link
{
    font-weight: normal;
    color: #0054b9;
}

.cloud-wrapper
{
    display: inline-block;
    height: 21px;
}

.cloud
{
    width: 32px;
    height: 32px;
    background-image: url('images/cloud.svg');
}

.temperature
{
    font-size: 17px;
}

.future-temperature
{
    display: inline-block;
    margin: 7px 0;
}

.weather-header
{
    margin: 0;
    display: inline-block;
}

/*  Блок "Пробки"  */

.traffic-jams
{
    grid-area: 🏅;
}

.traffic-jams-header
{
    font-weight: normal;
    display: inline-block;
    margin: 0;
}

.traffic-jams-rate
{
    font-size: 17px;
}

.traffic-jams-header-link
{
    color: #0054b9;
}

.traffic-light-wrapper
{
    display: inline-block;
    height: 25px;
}

.traffic-light
{
    width: 32px;
    height: 32px;
    background-image: url('images/traffic-light.svg');
}

/*  Блок "Анекдоты"  */

.anecdotes
{
    grid-area: 🌼;
}

.anecdotes-header
{
    font-weight: normal;
    margin: 0 0 10px;
}

.anecdotes-header-link,
.anecdote-sort-link,
.next-anecdote-link
{
    color: #0054b9;
}

.anecdote::before
{
    content: '- ';
}

.next-anecdote
{
    margin-top: 65px;
}

.next-anecdote-link::before
{
    content: url('images/next-anecdote.png');
}

/*  Блок "Карта Екатеринбурга"  */

.city-map
{
    grid-area: ⚽;
}

.city-map-header
{
    font-weight: normal;
    margin: 0;
}

.city-map-header-link
{
    color: #0054b9;
}

.city-map-taxi,
.city-map-schedule
{
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
    margin-right: 10px;
}

.city-map-buses
{
    font-weight: bold;
}

/*  Блок "Афиша"  */

.poster
{
    grid-area: 🐟;
}

.poster-header
{
    font-weight: normal;
    margin: 0;
}

.poster-header-link
{
    color: #0054b9;
}

.poster-item
{
    margin: 10px 0;
}

.poster-important
{
    font-weight: bold;
    margin: 10px 0;
}

.poster-item-info
{
    color: grey;
}

.poster-important-name::after
{
    content: '\00A0\2014';
}

/*  Блок "Автомобильные новости"  */

.car-news
{
    position: relative;
    grid-area: ⛳;
    height: 300px;
    width: 270px;
    overflow: hidden;
}

.car-news-header
{
    height: 24px;
    font-weight: normal;
    margin: 0;
}

.car-news-header-link
{
    color: #0054b9;
}

.car-news-wrapper
{
    height: 273px;
    width: 400px;
    overflow: auto;
}

.block-for-shading-top
{
    background: linear-gradient(to top, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    height: 35px;
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
}

.block-for-shading-bottom
{
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    height: 35px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.car-news-item
{
    margin: 10px 0;
    width: 268px;
}

.car-news-time
{
    font-size: 12px;
    color: #808080;
}

/*  Блок с настройками и инфомацией о почтовом ящике  */

.user-menu
{
    grid-area: 💌;
    width: 270px;
}

.settings
{
    display: inline-block;
    width: 122px;
    text-align: center;
    vertical-align: top;
}

.mailbox-info
{
    display: inline-block;
    box-shadow: 0 0 5px rgba(128, 128, 128, .5);
    border-radius: 4px;
    width: 120px;
    height: 70px;
}

.username
{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

.username::first-letter
{
    color: #ff0303;
}

.number-of-letters
{
    font-weight: bold;
    margin-top: 10px;
}

.mail
{
    margin: 10px 10px 10px 15px;
    font-weight: normal;
}
